################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Desafio Impar/.env
/Desafio Impar/vehiclecrm-backend/VehicleCRM/.vs
/Desafio Impar/vehiclecrm-backend/VehicleCRM/src/VehicleCRM.API/bin/Debug/net10.0
/Desafio Impar/vehiclecrm-backend/VehicleCRM/src/VehicleCRM.API/obj
/Desafio Impar/vehiclecrm-backend/VehicleCRM/src/VehicleCRM.Application/bin/Debug/net10.0
/Desafio Impar/vehiclecrm-backend/VehicleCRM/src/VehicleCRM.Application/obj
/Desafio Impar/vehiclecrm-backend/VehicleCRM/src/VehicleCRM.Domain/bin/Debug/net10.0
/Desafio Impar/vehiclecrm-backend/VehicleCRM/src/VehicleCRM.Domain/obj
/Desafio Impar/vehiclecrm-backend/VehicleCRM/src/VehicleCRM.Infrastructure/bin/Debug/net10.0
/Desafio Impar/vehiclecrm-backend/VehicleCRM/src/VehicleCRM.Infrastructure/obj
/Desafio Impar/vehiclecrm-backend/VehicleCRM/tests/VehicleCRM.Test/bin/Debug/net10.0
/Desafio Impar/vehiclecrm-backend/VehicleCRM/tests/VehicleCRM.Test/obj
/Desafio Impar/vehiclecrm-backend/VehicleCRM/tests/VehicleCRM.IoC/bin/Debug/net10.0
/Desafio Impar/vehiclecrm-backend/VehicleCRM/tests/VehicleCRM.IoC/obj
